html{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    width: 100%;
}
body {
    max-width: 1445px;
    margin: 0 auto 0 auto;
}
.menu {
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
}
.menu-ul {
    border-bottom: 1px solid #828282;
    margin: 5px auto 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 5px;
    margin: 0 10px;
}


.menu-link {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    display: inline-block;
}
.menu-link a{
    color: #828282;
}
.header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 47px;
    color: #000;
    font-weight: 700;
    display: inline-block;
    
}
#ux-text{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    margin-left: 25%;
    font-weight: normal;
    text-align: justify;
}
.header {
    max-width: 780px;
    margin: 0 auto 0 auto;
}
.about-me {
    margin: 200px auto 0 auto;
    width: 100%;
    background: #f6f6f6;
    padding: 70px 0 70px 0;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 34px;
    text-align: center;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    text-align: center;
}
.skills {
    margin-top: 150px;
    max-width: 780px;
    margin: 0 auto 0 auto;
}
.skills-img img{
    max-width: 166px;
    max-height: 206px;
}
.skills-img{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.portfolio {
    margin-top: 100px;
    background: #f6f6f6;
    padding-top: 70px;
    padding-bottom: 100px;
}
.portfolio-kontent{
    max-width: 780px;
    margin: 0 auto 0 auto;
}
.portfolio-kontent img{
    margin: 100px 0 20px 0;
}
.portfolio-kontent a{
    font-size: 18px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}
.footer {
    padding-top: 100px;
}
button{
    width: 180px;
    height: 42px;
    background: #070707;
    color: #fff;
    border: 0px;
    border-radius: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 40px auto 0 auto;
    display: block;
}
.media-links {
    max-width: 780px;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

.media-links img{
    max-width: 40px;
    max-height: 40px;
    margin: 0 30px;
}
.footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: center;
    color: #828282;
    margin-bottom: 130px;
}
.box{
    margin: 0 auto 0 auto;
}
@media (max-width:414px){
    .skills-img{
        flex-direction: column;
        align-content: center;
    }
    .skills-img img{
        margin-bottom: 100px;
    }
    .portfolio{
        margin: 0;
    }
    button{
        width: 300px;
    }
}